.icon {
  display: block;
  width: 100%;
  padding-bottom: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--facebook {
    background-image: url('../images/icons/facebook.svg');
  }

  &--twitter {
    background-image: url('../images/icons/twitter.svg');
  }

  &--instagram {
    background-image: url('../images/icons/instagram.svg');
  }

  &--youtube {
    background-image: url('../images/icons/youtube.svg');
  }

  &--linkedin {
    background-image: url('../images/icons/linkedin.svg');
  }
}
