@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url(../../fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url(../../fonts/PTSans-Bold.ttf);
}

%basic-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $white;

  @include md {
    font-size: 16px;
    line-height: 24px;
  }
  @include lg {
    font-size: 18px;
    line-height: 28px;
  }
}

%title-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
}

%button-text {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}
