@import "./normalize.css";
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url(../../fonts/PTSans-Regular.ttf);
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url(../../fonts/PTSans-Bold.ttf);
}
.page {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .page {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1024px) {
  .page {
    font-size: 18px;
    line-height: 28px;
  }
}

.title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.features, .about {
  width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .features, .about {
    padding: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .features, .about {
    padding: 2rem;
  }
}

.footer__container, .features__container, .about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1500px;
}

.footer::after, .header::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #0F0F0F;
}

.page {
  scroll-behavior: smooth;
}
.page__body {
  background: #000000;
}

.header {
  height: 100vh;
  width: 100%;
  background: url("../images/product.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header::after {
  opacity: 30%;
}
.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  height: 100%;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1440px;
  z-index: 10;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header__container {
    padding: 2rem;
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  .header__container {
    gap: 4rem;
  }
}
@media (min-width: 1440px) {
  .header__container {
    gap: 5rem;
  }
}

.title {
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  color: #ffffff;
  text-shadow: 5px 5px 10px #e88873;
}
@media (min-width: 768px) {
  .title {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .title {
    gfont-size: 5rem;
  }
}
.title--feature {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .title--feature {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .title--feature {
    gfont-size: 3rem;
  }
}

.button {
  display: flex;
  align-items: center;
  min-height: 36px;
  padding: 0 2rem;
  background-color: #e88873;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .button {
    min-height: 40px;
  }
}
@media (min-width: 1024px) {
  .button {
    min-height: 48px;
  }
}
.button:hover {
  background-color: #5c6d70;
}

@media (min-width: 1024px) {
  .about__container {
    flex-direction: row;
  }
}
.about__img-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .about__img-wrapper {
    width: 50%;
    max-height: none;
  }
}
.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.about__text {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 3px solid #e88873;
  color: #ffffff;
}
@media (min-width: 768px) {
  .about__text {
    padding: 1.5rem;
    border-radius: 2rem;
  }
}
@media (min-width: 1024px) {
  .about__text {
    padding: 2rem;
    border-radius: 3rem;
    width: 50%;
  }
}

.features {
  background-color: #1F1F1F;
}
@media (min-width: 1024px) {
  .features__container {
    flex-direction: row;
  }
}
.features__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 280px;
  padding: 1rem;
  border-radius: 1rem;
  border: 3px solid #e88873;
  color: #ffffff;
}
@media (min-width: 768px) {
  .features__feature {
    padding: 1.5rem;
    border-radius: 2rem;
  }
}
@media (min-width: 1024px) {
  .features__feature {
    padding: 2rem;
    border-radius: 3rem;
  }
}
.features__img-wrapper {
  width: 50px;
  height: 50px;
  background-color: #e88873;
  padding: 5px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .features__img-wrapper {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 1024px) {
  .features__img-wrapper {
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 1440px) {
  .features__img-wrapper {
    width: 80px;
    height: 80px;
  }
}
.features__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.footer {
  position: relative;
  min-height: 100px;
  width: 100%;
  padding: 2rem 3rem;
  background: url("../images/footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer::after {
  opacity: 70%;
}
.footer__container {
  position: relative;
  justify-content: center;
  z-index: 10;
}
@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .footer__contacts {
    align-items: flex-start;
  }
}
.footer__soc-links {
  display: flex;
  gap: 1rem;
}
.footer__link {
  text-decoration: none;
  color: #ffffff;
}
.footer__link:hover {
  color: #e88873;
}
.footer__link--soc {
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  transition: background-color 0.3s;
}
@media (min-width: 1024px) {
  .footer__link--soc {
    padding: 5px;
    width: 50px;
    height: 50px;
  }
}
.footer__link--soc:hover {
  background-color: #e88873;
}

.icon {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.icon--facebook {
  background-image: url("../images/icons/facebook.svg");
}
.icon--twitter {
  background-image: url("../images/icons/twitter.svg");
}
.icon--instagram {
  background-image: url("../images/icons/instagram.svg");
}
.icon--youtube {
  background-image: url("../images/icons/youtube.svg");
}
.icon--linkedin {
  background-image: url("../images/icons/linkedin.svg");
}

/*# sourceMappingURL=main.css.map */
